@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/Background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #00030c;
    color: #FFFFFF;
}

.geral {
    font-family: 'Inter', sans-serif;
    gap: 10rem;
}

.geral__div__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding: 10% 9%;
    width: 35%;
    gap: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

.geral__div__1__titulo {
    padding: 0 0 5% 0;
    font-size: rem;
}

.geral__div__1__img {
    width: 65%;
    padding: 0 0 5% 0;
}

.geral__div__1__link__1 {
    border: 1px solid #167BF7;
    border-radius: 8px;
    padding: 16px;
    width: 85%;
    text-decoration: none;
    background-color: #167BF7;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

.geral__div__1__link__2 {
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    width: 85%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

.geral__div__1__obs {
    font-size: 0.6rem;
    font-weight: 100;
}

.geral__div__2 {
    display: flex;
    justify-content: center;
    gap: 10%
}

.geral__div__2__div1 {
    padding: 0% 0% 10% 10%;

}

.geral__div__2__div1__img {
    width: 160%;

}

.geral__div__2__div2 {
    padding: 15% 5% 10% 15%;
}

.geral__div__2__div2__titulo {
    font-size: 3rem;
    padding: 0% 0% 1% 0%;

}

.geral__div__2__div2__paragrafo {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}

.geral__div__3 {
    display: flex;
}

.geral__div__3__div1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10% 5% 10% 10%;
    gap: 1rem;
}

.geral__div__3__p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}

.geral__div__3__a {
    border: 1px solid #167BF7;
    border-radius: 8px;
    padding: 16px 10px 16px 16px;
    width: 9rem;
    text-decoration: none;
    background-color: #167BF7;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;

}

.geral__div__3__div2 {
    width: 55%;
    padding: 0% 5% 0% 5%;
}

.geral__div__3__div2__img {
    width: 100%;
}

.geral__div__4 {
    display: flex;
}

.geral__div__4__div1 {
    width: 50%;
    padding: 10% 5% 10% 10%;
}

.geral__div__4__div1__img {
    width: 110%;
    
}

.geral__div__4__div2 {
    padding: 18% 3% 10% 0%;

}

.geral__div__4__div2__h1 {
    font-size: 3rem;
    padding: 0% 0% 1% 0%;
}

.geral__div__4__div2__p {
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}

.geral__div__5__h1 {
    text-align: center;
    font-size: 2.8rem;
    padding: 10% 10% 3% 10%;
}

.geral__div__5__div {
    display: flex;
    justify-content: center;
    padding: 0 0 10% 0;
    width: 100vw;
}

.geral__div__5__div1__itens {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    font-size: 0.8rem;
}

.rodape {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.rodape__img {
    width: 7%;
    padding: 2.5%;
}

.rodape__links {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.rodape__links__a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
}

.rodape__text {
    padding: 0% 5% 3% 5%;
}

.rodape__p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
    padding-bottom: 2%;
}

@media (max-width: 1000px) {
    body {
        background-image: url('../assets/Background_mobile.png');
        background-size: contain;
    }

    .geral__div__1 {
        width: 82%;
    }

    .geral__div__1__titulo {
        padding-top: 65%;

    }

    .geral__div__1__img {
        width: 100%;
        height: 100%;
    }

    .geral__div__2__div1 {
        padding: 15% 5% 10% 7%;
    }

    .geral__div__2__div2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 15% 7% 10% 7%;
    }

    .geral__div__2__div2__titulo {
        font-size: 1.8rem;
    }

    .geral__div__3__div1 {
        padding: 10% 5% 10% 8%;
        text-align: left;
        gap: 1.5rem;
    }

    .geral__div__3__div2 {
        padding: 25% 5% 0% 0%
    }

    .geral__div__4__div1 {
        padding: 25% 10% 10% 5%;
    }

    .geral__div__4__div2 {
        width: 55%;
    }

    .geral__div__4__div2__h1 {
        font-size: 1.8rem;
    }
    
    .geral__div__5__h1 {
        font-size: 2rem;
        width: 95%;
        padding: 10% 0% 5% 3%;
        text-align: center;
    }

    .geral__div__5__div1__itens {
        font-size: 0.4rem;
    }

    .rodape__img {
        width: 20%;
    }

    .rodape__links__a {
        font-size: 0.5rem;
    }

    .rodape__p {
        font-size: 0.5rem;
    }

}